config DVB_PT3
	tristate "Earthsoft PT3 cards"
	depends on DVB_CORE && PCI && I2C
	select DVB_PTX_COMMON
	select DVB_TC90522 if MEDIA_SUBDRV_AUTOSELECT
	select MEDIA_TUNER_QM1D1C004X if MEDIA_SUBDRV_AUTOSELECT
	select MEDIA_TUNER_MXL301RF if MEDIA_SUBDRV_AUTOSELECT
	help
	  Support for Earthsoft PT3 ISDB-S/T PCIe cards.

	  Say Y or M if you own such a device and want to use it.

config DVB_PXQ3PE
	tristate "PLEX PX-Q3PE cards"
	depends on DVB_CORE && PCI && I2C
	select DVB_PTX_COMMON
	select DVB_TC90522 if MEDIA_SUBDRV_AUTOSELECT
	select MEDIA_TUNER_QM1D1C004X if MEDIA_SUBDRV_AUTOSELECT
	select MEDIA_TUNER_MXL301RF if MEDIA_SUBDRV_AUTOSELECT
	help
	  Support for PLEX PX-Q3PE ISDB-S/T PCIe cards.

	  Say Y or M if you own such a device and want to use it.
